* {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.618em;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
  color: rgb(109, 106, 109);
}

h2 > p {
  text-align: center;
}

header {
  padding: 2em 0;
}

header h1 {
  font-size: 2.5em;
}

header span {
  font-size: 1.5em;
  color: darkmagenta;
}

html {
  font-size: 16px;
  margin-top: 2em;
}

nav {
  background: #333;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  position: auto;
  width: 100%;
  padding: 0.5em;
}

nav a {
  color: #fff;
  padding: 0.5em 2em;
  text-decoration: none;
}

nav a:hover {
  background: #666;
}

p {
  padding: 0.5em 0;
}

section {
  min-height: 7em;
}

section > ul {
  padding-left: 1.5em;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsibleDescription,
.projectButton {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active,
.collapsibleDescription:hover,
.projectButton:hover {
  background-color: #555;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.navButton {
  background-color: darkslateblue;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  display: flex;
  flex-flow: row;
  text-align: center;
  font-size: 14px;
  width: 10%;
  margin: 0 auto;
  max-width: 800px;
  padding: 0.5em 0;
  position: auto;
  justify-content: center;
}

#bioButton {
  background-color: darkslateblue;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  display: flex;
  flex-flow: row;
  text-align: center;
  font-size: 14px;
  width: 50%;
  margin: 0 auto;
  max-width: 800px;
  padding: 0.5em 0;
  position: auto;
  justify-content: center;
}

#highlights article {
  background: #ccc;
  padding: 1em;
}

#highlights article img {
  border: 1px solid darkmagenta;
  width: 100%;
}

#images {
  width: 2900px;
  height: 500px;
  overflow: hidden;
  animation: slideImages 30s infinite;
}

#images img {
  float: left;
}

@keyframes slideImages {
  0% {
    margin-left: 0px;
  }
  25% {
    margin-left: -725px;
  }
  50% {
    margin-left: -1450px;
  }
  75% {
    margin-left: -2175px;
  }
  100% {
    margin-left: 0px;
  }
}

#monicaHighlights {
  text-align: center;
}

#projectDetails article {
  background: #ccc;
  padding: 1em;
}

#projectsContainer {
  margin: 2rem auto;
  width: 725px;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slider {
  width: 725px;
  height: 500px;
  overflow: hidden;
  border: 10px solid#777;
}
